<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>THUIR搜索行为用户实验</title>
<style>
    
    p, h1, h2, h3, h4, h5, h6 {
        font-family: Arial, Helvetica, sans-serif;
    }
    .header {
        padding: 5px;
        text-align: center;
    }
    div.header h1 {
        font-size: 2em;
    }
</style>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block extra_css %}
{% endblock %}
</head>

<body >
    {% block main_body %}
    {% endblock %}
</body>
{% block extra_script %}
{% endblock %}
</html>
