{%extends "query/base.html" %}

{% block extra_css %}
<style>
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div.mainbody {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 33%;
        margin: auto;
        margin-top: 80px;
    }

    div.mainbody h2 {
        text-align: center;
    }

    p {
        font-size: 16px;
    }

    p.warn {
        color: #ff0000;
        font-size: 13px;
    }
    body {
        margin: 0;
        font-size: 100%;
        background-color: #000000;
    }
</style>
{% endblock %}

{% block extra_script %}
<script>
    // 检测输入用户名是否合法
    function validateForm() {
        var x = document.forms["login"]["user_name"].value;
        if (x == null || x == "") {
            alert("nickname cannot be empty!");
            return false;
        }
        else {
            var y = x.replace(/\s*/g, "");
            if (x != y) {
                alert("nickname cannot contain white space!");
                return false;
            }
        }
        return true;
    }
</script>
{% endblock %}

{% block main_body %}
<div class="header" style = "z-index: 100; color: white;">
    <h1>THUIR搜索行为用户实验</h1>
</div>
<div class="mainbody">
    <h2> 登录 </h2>
    <p> 请输入你的学号: </p>
    <form name="login" action="{% url 'query:homepage' %}"
          onsubmit="return validateForm();" method="post">
    {% csrf_token %}
    <input type="text" name="user_name" autocomplete="off" >
    <p> 请输入用户序号: </p>
    <form name="login_id" action="{% url 'query:homepage' %}"
          onsubmit="return validateForm();" method="post" autocomplete="off" >
    {% csrf_token %}
    <input type="text" name="user_id">
    <input type="submit" value="确定">
    </form>
</div>
{% endblock %}
